			#l1 {padding: 10px; width: 680px; border-radius: 0.5em;border: 1px solid #000000; background: #00aeed;}
			#l2 {background: #dedede;border-radius: 0.5em; padding: 10px; border: 1px solid #000000;}
			#l3 {font-style: italic;}
			#l4 {padding: 10px; width: 680px; border-radius: 0.5em; border: 1px solid #000; background: #dedede; margin-bottom: 30px;}
			img {width: 691px; padding-top: 15px;}
			#l5 {border: 1px solid #000; padding: 10px; background: #efefef;}
			#l6 {padding-left: 1.5em;}
			#l7 {padding: 10px; width: 680px; border-radius: 0.5em;border: 1px solid #000000; background: #ff0000;}
			#l8 {background: #dedede;border-radius: 0.5em; padding: 10px; border: 1px solid #000000;}
			table {border: 1px solid #000; border-collapse: collapse;}
			th {border: 1px solid #000;}
			td {border: 1px solid #000;}